<?xml version="1.0" encoding="UTF-8"?>

<beans:beans 
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<http access-denied-page="/error">
		<form-login login-page="/index" default-target-url="/" />
		<logout logout-url="/logout" logout-success-url="/" />
		<intercept-url pattern="/user*" access="ROLE_USER" />
		<intercept-url pattern="/user/**" access="ROLE_USER" />
		<intercept-url pattern="/admin*" access="ROLE_ADMIN" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
	</http>
<!-- 	<authentication-manager> -->
<!-- 		<authentication-provider user-service-ref="userLoginService" /> -->
<!-- 	</authentication-manager> -->
<!-- 	<beans:bean id="userLoginService" class="com.myblog.services.login.UserLoginService" /> -->
</beans:beans>